#root {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

body {
  background-color: #F6F8F8;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout > .container {
  margin-top: -7em;
}

.container {
  margin: auto;
  width: 100%;
}

.App {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  padding: 2em 1em;
}

.main-logo {
  max-width: 420px;
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1020px;
  min-height: 800px;
  justify-content: space-between;
  gap: 2rem;
}

.paginator {
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  display: flex;
  gap: 1em;
  justify-content: center;
  margin-top: 1rem;
  width: fit-content;
}

.paginator > button:hover {
  background-color: #ECEEF0;
  border-color: transparent;
}

.paginator-next-button {
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.paginator-prev-button {
  border-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.not-found {
  width: 100%;
}

.not-found-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details {
  border-radius: 4px;
  box-shadow: 0 1px 15px 7px rgb(0 0 0 / 5%);
  margin: auto;
  width: fit-content;
}

.details-content {
  background-color: #ffadad;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  padding: 2em 5em;
}

.details-title {
  background-color: #2c3e50;
  color: #F6F8F8;
  font-size: xx-large;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.details-title-icon {
  margin-top: 4px;
  width: 40px;
  height: 40px;
}

.details-attribute {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-attribute-header {
  font-weight: bold;
}

.details-attribute-icon {
  background-color: #ffd380;
  color: #003f5c;
  border-radius: 4px;
  padding: 5px 9px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.details-attribute-value {
  background-color: #F6F8F8;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: fit-content;
  padding: 5px 9px;
}

.not-found-icon {
  width: 3em;
  height: 3em;
}

footer {
  display: flex;
  justify-content: center;
  padding: 2em 0;
}

.footer-text {
  color: #7f8c8d;
}

.footer-text--copy {
  color: #34495e;
}

.heart-icon {
  color: #EA6354;
  height: 1.5em;
  width: 1.5em;
}

.current-pokemon {
  flex: 2;
  box-shadow: 0 1px 15px 7px rgb(0 0 0 / 5%);
  transition: all 0.15s linear;
}

.current-pokemon:hover {
  cursor: pointer;
  transform: translateY(-5px)
}

.current-pokemon:active {
  transform: translateY(-5px) scale(1.04);
}

.current-pokemon-label {
  margin: 0;
  color: #2c3e50;
  background-color: #ffd380;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-pokemon-icon {
  margin-top: 2px;
  width: 25px;
  height: 25px;
}

.card {
  border: solid 1px #bdc3c7;
  border-radius: 4px;
}

.pokemon-thumbnail:hover {
  box-shadow: 0 1px 15px 7px rgb(0 0 0 / 5%);
  transform: translateY(-3px);
}

.current-pokemon > img {
  width: 100%;
  max-width: 290px;
  min-width: 200px;
}

.pokemon-list {
  width: 100%;
  list-style: none;
  display: flex;
  gap: 1rem;
  flex: 3;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-thumbnail {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-evenly;
  padding: 1rem;
  transition: all 0.15s linear;
  width: 100px;
}

.remove-button {
  color: #EA6352;
  width: fit-content;
}

.primary-button {
  color: #2c3e50;
  padding: 0.6em 0.5em;
  width: fit-content;
}

.primary-button:hover {
  background-color: #ECEEF0;
  border-color: transparent;
}

.primary-button:active {
  border-color: #909CA7;
}


.remove-button:hover {
  color: #c0392b;
  border-color: #F6BCA9;
}

.remove-button:active {
  background-color: #FBDECF;
  border-color: #c0392b;
}

@media (max-width: 770px) {
  .main {
    flex-direction: column;
  }
}
