#root {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  margin: auto;
  width: 100%;
}

.App {
  max-width: 1280px;
  margin: 0 auto;
}

.main {
  display: flex;
  background-color: aqua;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1020px;
  min-height: 800px;
  justify-content: space-between;
  gap: 2rem;
}

.paginator {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.current-pokemon {
  flex: 2;
}

.current-pokemon > img {
  width: 100%;
  max-width: 290px;
  min-width: 200px;
}

.pokemon-list {
  width: 100%;
  list-style: none;
  display: flex;
  gap: 1rem;
  flex: 3;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-thumbnail {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: solid 1px blue;
  width: 100px;
  height: 100px;
}

