#root {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: #F6F8F8;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  margin: auto;
  width: 100%;
}

.App {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1020px;
  min-height: 800px;
  justify-content: space-between;
  gap: 2rem;
}

.paginator {
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  display: flex;
  gap: 1em;
  justify-content: center;
  margin-top: 1rem;
  width: fit-content;
}

.paginator > button:hover {
  background-color: #ECEEF0;
  border-color: transparent;
}

.current-pokemon {
  flex: 2;
  box-shadow: 0 1px 15px 7px rgb(0 0 0 / 5%);
}

.card {
  border: solid 1px #bdc3c7;
  border-radius: 4px;
}

.pokemon-thumbnail:hover {
  box-shadow: 0 1px 15px 7px rgb(0 0 0 / 5%);
}

.current-pokemon > img {
  width: 100%;
  max-width: 290px;
  min-width: 200px;
}

.pokemon-list {
  width: 100%;
  list-style: none;
  display: flex;
  gap: 1rem;
  flex: 3;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-thumbnail {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-evenly;
  padding: 1rem;
  width: 100px;
}

.remove-button {
  color: #EA6352;
  width: fit-content;
}

.details-button {
  color: #2c3e50;
  padding: 0.6em 0.5em;
}

.details-button:hover {
  background-color: #ECEEF0;
  border-color: transparent;
}

.details-button:active {
  border-color: #909CA7;
}


.remove-button:hover {
  color: #c0392b;
  border-color: #F6BCA9;
}

.remove-button:active {
  background-color: #FBDECF;
  border-color: #c0392b;
}

@media (max-width: 770px) {
  .main {
    flex-direction: column;
  }
}
